set SOURCES_DIR=D:\svnbuild\sources
set TOOLS_DIR=D:\svnbuild\tools

set SEVENZIPPATH="C:\Program Files\7-Zip-Zstandard"
set PERLHOME=%TOOLS_DIR%\perl

@rem use python2.7 in win xp, with scons-3.1.2
set PYTHONHOME=%TOOLS_DIR%\python27\App\Python\
set SCONS_PY=%TOOLS_DIR%\scons-local-3.1.2\scons.py

@rem use python3.10 in win7+, with scons-4.4.0
set PYTHONHOME=%TOOLS_DIR%\python310\
set SCONS_PY=%TOOLS_DIR%\scons-local-4.4.0\scons.py

set APDIR=C:\Apache24

set BUILDROOT=%cd%

@rem win32 x64
set TARGET_ARCH=x64
@rem append CFLAGS -D_WIN32_WINNT=%TARGET_WIN32_WINNT%
@rem set TARGET_WIN32_WINNT=0x0501
@rem append LDFLAGS -subsystem:console,%TARGET_SUBSYSTEM%
@rem set TARGET_SUBSYSTEM=5.01

@rem nmake and msbuild use _CL_ and _LINK_
@rem scons runs building in a new clear env, so it cannot use  _CL_ and _LINK_, should pass them as arguments
@rem cmake and other building systems are not tested

@rem _WIN32_WINNT =0x0501 for XP-32bit, =0x0502 for XP-64bit , to ensure that the targets do not use newer Windows API, needed for building openssl for windows xp
@rem _USING_V110_SDK71_ is used in VS xp toolset like v141_xp, atlmfc, may be useless
@rem NO_INTERLOCKEDOR64 maybe needed for building openssl-3.0.x for windows xp
@rem NO_INTERLOCKEDOR64 is defined for vs2008-x86 in openssl (defined(_M_IX86) && _MSC_VER <= 1600)
@rem set _CL_=-D_WIN32_WINNT=%TARGET_WIN32_WINNT%

@rem needed for building xp compat apps, for gui apps should be -subsystem:window,%TARGET_SUBSYSTEM%
@rem link in 2008 2010 2012 default to x86:5.00 x64:5.02, 2013 2015 2017 2019 2022 default to 6.00
@rem link in v110_xp v120_xp v140_xp v141_xp default to x86:5.01 x64:5.02
@rem set _LINK_=-subsystem:console,%TARGET_SUBSYSTEM%

set INSDIR=%BUILDROOT%\%TARGET_ARCH%

@rem for scons
@rem values: 7.0 7.1 8.0 9.0 10.0 11.0 12.0 14.0 14.1 14.2 14.3
@rem or: 2002 2003 2005 2008 2010 2012 2013 2015 2017 2019 2022
set MSVC_VERSION=2019

@rem override MSVC_PLATFORMTOOLSET : v141_xp or Windows7.1SDK or other
@rem set MSVC_PLATFORMTOOLSET=Windows7.1SDK

set VER_ZLIB=1.2.13
set VER_SQLITE=3400100
set VER_LIBINTL=0.14.6

@rem latest version passed MSVC v10-x86(VS2010) are 1.1.1w, 3.0.13, 3.1.5
@rem openssl 3.3.0, 3.2.1 cannot be compiled in MSVC v10-x86(VS2010)
set VER_OPENSSL=1.1.1s

@rem set VER_SERF=1.3.9
set VER_SERF=2.0.0
@rem set USE_SHARED_SERF=yes to used libserf-*.dll
set USE_SHARED_SERF=1

@rem set USE_DB=
set USE_DB=DB5
set VER_DB4=4.8.30
set VER_DB5=5.3.28

@rem set VER_SASL=
set VER_SASL=2.1.28

set VER_SUBVERSION=1.14.2
